# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
.venv/
venv/
ENV/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Project outputs
work/
compiled/
dist/
build/

# Local test archives
teste*.zip

# PyInstaller
*.spec
